body {
        background-color: #FAF0E6

}

h1 {
        font-family: sans-serif;
        color: #20B2AA
}

p {
        font-family: fantasy;
        color: 	#8B0000
}

a {
        font-family: fantasy;
        font-weight: bolder;
}

ul {
        list-style: circle;;
        font-family: monospace;
        color: #1E90FF
}

/* entries below correspond to specific headings in resume.html */
#education1 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #2F4F4F
}

#education2 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #2F4F4F
}

#workexp1 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #32CD32
}

#workexp2 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #32CD32
}

#workexp3 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #32CD32
}

#workexp4 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #32CD32
}

#skills1 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #800000
}

#skills2 {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #800000
}

#activities {
        font-family: monospace;
        font-weight: bold;
        font-style: italic;
        color: #4B0082
}
